@utility container {
  @apply m-auto;
  @apply px-[20px];
  @apply max-w-[1440px];
}

@utility svg-primary {
  filter: brightness(0) saturate(100%) invert(17%) sepia(93%) saturate(2616%)
    hue-rotate(190deg) brightness(98%) contrast(102%);
}

@utility svg-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(0%)
    hue-rotate(351deg) brightness(107%) contrast(101%);
}

@utility svg-neutral-100 {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(755%)
    hue-rotate(200deg) brightness(117%) contrast(92%);
}
